.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 2;
}

.home_nav_title{
    font-family: "Lobster";
    font-size: 2.5rem;
    margin: 0.8rem 0.8rem 0.9rem 1.3rem;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
    color: white;
}

.navbar_links ul{
    margin: 0 0.8rem 0 0;
    padding: 0;
    display: flex;
}

.navbar_links li{
    list-style: none;
}

.navbar_links li a{
    font-family: "Lobster";
    font-size: 2rem;
    margin-right: 0.2rem;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
    padding: 1rem;
    display: block;
}

.main_nav_title{
    display: block;
}


.nav_main ul{
    display: flex;
}

.nav_mini ul{
    display: none;
}




.home_nav{
    color: #fa97a7;
}

.p3_nav{
    color: #26b0ff;
}

.p4_nav{
    color: #faf257;
}

.p5_nav{
    color: #fa4343;
}


@media (min-width: 769px){
    
    .home_nav:hover{
        color: white;
        background-color: #fd4161;
        border-radius: 25px;

        transition: background-color .2s;
        transition: color .1s;
    }

    .p3_nav:hover{
        color: white;
        background-color: #0031f7;
        border-radius: 25px;

        transition: background-color .2s;
        transition: color .1s;
    }
    
    .p4_nav:hover{
        color: white;
        background-color: #fcf003;
        border-radius: 25px;

        transition: background-color .2s;
        transition: color .1s;
    }
    
    .p5_nav:hover{
        color: white;
        background-color: #ff0000;
        border-radius: 25px;

        transition: background-color .2s;
        transition: color .1s;
    }   
}




@media (max-width: 768px){

    .main_nav_title{
        display: none;
    }
    
    .nav_main ul{
        display: none;
    }
    
    .nav_main li a{
        display: none;
    }



    .navbar{
        justify-content: space-evenly;
    }
    
    .nav_mini ul{
        display: flex;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .nav_mini li a{
        display: block;
        font-size: 1.5rem;
        margin: 0 8px;
    }
}