/*Responsive Stuff Here*/

body{
    background-color: sandybrown;
}

h1{
    text-align: center;
    font-size: 70px;
    font-family: "Lobster";
}

h2{
    margin-left: 25px;
    font-size: 35px;
    font-family: "Lobster";
    text-shadow: 2px 2px 2px white;
}

table, th, td{
    border: 1px solid black;
}

.social_link_profile{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.availability_table{
    margin-left: 25px;
    width: 70%;
    font-size: 20px;
    font-family: "Patua One";
    text-align: center;
}

.social_link_text{
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Patua One";
}

.line_separator{
    border-bottom: 1px solid black;
    margin: 25px 10px 0;
}

.rank_separator{
    border-bottom: 1px dashed black;
    margin: 25px 10px 20px;
}

.p3_title_box{
    background-color: #3F61A6;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 3% 2%;
    padding: 1% 0;
}

.p4_title_box{
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 3% 2%;
    padding: 1% 0;
}

.p5_title_box{
    background-color: #ff4a26;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 3% 2%;
    padding: 1% 0;
}

.main_title_box{
    background: rgb(252,74,26);
    background: linear-gradient(90deg, rgba(252,74,26,1) 0%, rgba(247,183,51,1) 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 3% 2%;
    padding: 1% 0;
}

.p3_main{
    background-image: url("../images/DancingInMoonlightBackground.webp");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p4_main{
    background-image: url("../images/P4MinimalistBackground.jpg");
}

.p5_main{
    background-image: url("../images/P5City.jpg");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_background{
    background-image: url("../images/P25thBackgroundBlurred.png");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game_covers{
    grid-template-columns: 450px 450px 450px;
    row-gap: 20px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.social_link_pictures{
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.p3_social_link_body{
    background: rgb(0,3,165);
    background: linear-gradient(90deg, rgba(255,154,38,1) 0%, rgba(255,72,114,1) 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    margin: 0 10% 5%;
}

.p4_social_link_body{
    background: rgb(0,138,255);
    background: linear-gradient(90deg, rgba(74,230,255,1) 0%, rgba(255,184,140,1) 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    margin: 0 10% 5%;
}

.p5_confidant_body{
    background: rgb(0,138,255);
    background: linear-gradient(90deg, #ea98da 0%, #5b6cf9 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    margin: 0 10% 5%;
}

.singular_link_body{
    background: rgb(255, 253, 208);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 2px;
    padding-bottom: 18px;
    margin: 0 25% 5%;
}

.main_body{
    background: rgb(0,242,96);
    background: linear-gradient(90deg, rgba(0,242,96,1) 0%, rgba(5,117,230,1) 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    margin: 2% 10% 0%;
}

.social_link_singular{
    width: 225px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 20px 0;
}

.cover_art{
    width: 225px;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.6));
    margin: 0 20px 0;
}

.p3_social_link_title{
    text-align: center;
    font-size: 30px;
    font-family: "Patua One", cursive;
    color: #D5E7F2;
    text-shadow: 2px 2px 2px black;
}

.p4_social_link_title{
    text-align: center;
    font-size: 30px;
    font-family: "Patua One", cursive;
    color: gold;
    text-shadow: 2px 2px 2px black;
}

.p5_confidant_title{
    text-align: center;
    font-size: 30px;
    font-family: "Patua One", cursive;
    color: turquoise;
    text-shadow: 2px 2px 2px black;
}

.main_logo_title{
    text-align: center;
    font-size: 30px;
    font-family: "Patua One", cursive;
    color: #F2E5BD;
    text-shadow: 2px 2px 2px black;
}

#persona_protagonists{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.6));
}

@media only screen and (max-width: 768px){
    .p3_social_link_body{
        margin: 0 10% 5%;
    }

    .p4_social_link_body{
        margin: 0 10% 5%;
    }

    .p5_confidant_body{
        margin: 0 10% 5%;
    }

    .social_link_pictures{
        grid-template-columns: 175px 175px 175px 175px;
    }

    .social_link_singular{
        width: 175px;
    }

    #persona_protagonists{
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    .p3_social_link_body{
        margin: 3% 5% 5%;
    }
    
    .p4_social_link_body{
        margin: 3% 5% 5%;
    }

    .p5_confidant_body{
        margin: 3% 5% 5%;
    }

    .social_link_pictures{
        grid-template-columns: 125px 125px 125px 125px;
    }

    .social_link_singular{
        width: 98px;
    }

    #persona_protagonists{
        width: 70%;
    }
}

#p3_title{
    color: #F2E5BD;
    text-shadow: 2px 2px #ff5500;
}

#p4_title{
    color: #ffae00;
    text-shadow: 2px 2px #ff0000;
}

#p5_title{
    color: #ade0ff;
    text-shadow: 2px 2px #237BD9;
}

#p3_main_title{
    margin-left: 7%;
}

#p4_main_title{
    margin-left: 7%;
}

#p5_main_title{
    margin-left: 11%;
}

#main_title{
    color: #DDF20C;
    text-shadow: 2px 2px #bf0cf5;
}