/*Responsive Stuff Here*/

body{
    background-color: sandybrown;
}

h1{
    text-align: center;
    font-size: 70px;
    font-family: "Lobster";
}

.p4_title_box{
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 3% 2%;
    padding: 1% 0;
}

.p4_main{
    background-image: url("../images/P4MinimalistBackground.jpg");
}

.game_covers{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
}

.social_link_body{
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    margin: 0 10% 5%;
}

.social_link_pictures{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.social_link_singular{
    width: 225px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    margin: 0 20px 0;
}

.social_link_title{
    text-align: center;
    font-size: 30px;
    font-family: "Patua One", cursive;
    color: gold;
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 768px){
    .social_link_body{
        margin: 0 15% 5%;
    }
    .social_link_pictures{
        grid-template-columns: 175px 175px 175px 175px;
    }

    .social_link_singular{
        width: 200px;
    }
}

@media only screen and (max-width: 600px){
    .social_link_body{
        margin: 0 10% 5%;
    }
    .social_link_pictures{
        grid-template-columns: 125px 125px 125px 125px;
    }

    .social_link_singular{
        width: 175px;
    }
}

.cover_art{
    margin-top: 10%;
    padding-left: 12%;
    
    justify-content: center;
}

#p3_cover{
    padding-bottom: 10%;
    padding-top: 10%;
    width: 500px;
}

#p4_cover{
    width: 350px;
}

#p5_cover{
    width: 350px;
}

#persona_protagonists{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

#p4_title{
    color: #ffae00;
    text-shadow: 2px 2px #ff0000;
}